body{
    font-family: Arial, sans-serif;
    color: #686868;
}

h2, h3, h4{
    text-transform: uppercase;
    font-weight: bold;
}

.color1{
    color: #FECA07;
}

.color2{
    color: #504c3b;
}

hr{
    border: 1px solid
}

h1{
    font-weight: normal;
}

h3{
    color: #000;    
}

/* Gauche */

#left_side h2{
    text-align: center;
    background-color: #404040;
    outline: solid #404040 8px;
}

#left_side{
    background-color: #FECA07;
    width: 27%;
    margin-right: 7%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    outline: solid #FECA07 8px;
}

#contact_text, #photo, #loisirs_icons{
    margin: 10% 10% 10% 10%;
}

#moi_text{
    margin: 10% 10% 140% 10%;
}

#loisirs_icons{
    text-align: center;
    font-size: 3em;
}

#left_side, #right_side{
    display: inline-block;
    vertical-align: top;
}

/* Droite */

#right_side{
    width: 60%;
}

#formation1, #formation2{
    display: flex;  
}

.formation_liste1{
    flex: 1;
}

.formation_text1{
    flex: 3;
    margin-left: 15%;
}

.formation_liste2{
    flex: 1;
}

.formation_text2{
    flex: 3;
    margin-left: 15%;
}

#exp1, #exp2, #exp3{
    display: flex;  
}

.exp_liste1{
    flex: 1;
}

.exp_text1{
    flex: 3;
    margin-left: 15%;
}

.exp_liste2{
    flex: 1;
}

.exp_text2{
    flex: 3;
    margin-left: 15%;
}

.exp_liste3{
    flex: 1;
}

.exp_text3{
    flex: 3;
    margin-left: 15%;
}

#recommandations{
    display: flex;
}  

.reco1{
    margin-right: 40%;
}

h1 + p{
    font-weight: bold;

}

.underline{
    tex t-decoration: underline #FECA07;
    border-bottom: 2px solid #FECA07;
    padding-bottom: 3px;
}

. hr_special{
    max-width: 47px;
    position: relative;
    right: 47.8%;
    bottom: 16px;
        text-underline-position: under;
}
