body{
    font-family: 'Roboto', Arial, sans-serif;
    color: #686868;
    margin: 0;
    display: flex;
}

h2, h3, h4{
    text-transform: uppercase;
    font-weight: bold;
}

.color1{
    color: #FECA07;
}

.color2{
    color: #504c3b;
}

/* Gauche */

img{
    border: 5px #daaf12 solid;
    border-radius: 50%;  
    height: 230px;
    width: 230px; 
}

#photo{ 
    text-align: center;
 }

#left_side h2{
    text-align: center;
    background-color: #404040;
    padding: 7px 0 7px 0;
}

#left_side{
    background-color: #FECA07;
    display: flex;
    flex-direction: column;
    width: 27%;
    margin-right: 7%;
}

#contact_text, #moi_text{
    text-align: justify;
    margin: 8% 8% 8% 8%;
}

#moi{
    flex-grow: 2;
}

#loisirs{
    flex-grow: 0;
}

#loisirs_icons{ 
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}

#loisirs_icons .fas{
    font-size: 4em;
    border: 2px #504c3b solid;
    padding: 20px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
}

/* Droite */

hr{
    border: 1px solid
}

h1{
    font-weight: normal;
    font-size: 3em;
}

h3{
    color: #000;
    font-size: 1.5em;  
}

h4{
    font-size: 1.2em;
}

h1 + p{
    font-weight: bold;
    font-size: 1.5em;
    position: relative;
    bottom: 28px;
}

h1, .skip{
    margin-top: 80px;
}

h3 i{
    font-size: 1.6em;
    position: relative;
    top: 15px;
    margin-right: 50px;  
}

.dot{
    position: relative;
    top: 34px;
}
#right_side{
    width: 60%;
}

#formation1, #formation2, #exp1, #exp2, #exp3, #recommandations{
    display: flex;  
}

.formation_liste1, .formation_liste2, .exp_liste1, .exp_liste2, .exp_liste3{
    flex: 1;
}

.formation_text1, .formation_text2, .exp_text1, .exp_text2, .exp_text3{
    flex: 3;
    margin-left: 15%;
    padding-top: 1.5%;
}

.reco1{
    margin-right: 40%;
}

.underline{
    border-bottom: 2px solid #FECA07;
    padding-bottom: 2px;
}

@media all and (min-width: 426px) and (max-device-width: 991px){

    body{
        flex-direction: column;
    }

    #right_side{
        width: auto;
        order: 1;
        padding: 0px 5px 0px 5px;
    }

    #left_side{
        width: auto;
        margin-right: 0;
        order: 2;
    }

    .reco1{
        margin-right: 0;
    }

    #recommandations{
        justify-content: space-around;
    }

    img{
        position: absolute;
        right: 6%;
        top: 4%;
        border: 3px #bcbdbe solid;
        border-radius: 0%;  
        height: 135px;
        width: 135px; 
    }

    h1{
        padding-right: 30%;
    }

    .h3_responsive{
        display: flex;
    }
}

@media all and (max-device-width: 425px){

    body{
        flex-direction: column;
    }

    #right_side{
        width: auto;
        order: 1;
        padding: 0px 5px 0px 5px;
    }

    #left_side{
        width: auto;
        margin-right: 0;
        order: 2;
    }

    .reco1{
        margin-right: 0;
    }

    #recommandations{
        justify-content: space-between;
    }

    img{
        position: absolute;
        right: 2%;
        top: 6%;
        border: 2px #bcbdbe solid;
        border-radius: 0%;  
        height: 115px;
        width: 115px; 
    }

    h1{
        padding-right: 30%;
    }

    .h3_responsive{
        display: flex;
    }

    h3 i{
        margin-right: 15px;  
    }
}